{% load static %}
<!doctype html>
<!-- Front end page. -->
<html>
<head>
  <meta charset="utf-8">
  <title>Movie Review Polarization Analysis</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="#" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <app-root>Loading...</app-root>
    <script type="text/javascript" src="{% static 'runtime-es2015.js' %}"></script>
    <script type="text/javascript" src="{% static 'runtime-es5.js' %}"></script>
    <script type="text/javascript" src="{% static 'polyfills-es5.js' %}"></script>
    <script type="text/javascript" src="{% static 'polyfills-es2015.js' %}"></script>
    <script type="text/javascript" src="{% static 'styles-es2015.js' %}"></script>
    <script type="text/javascript" src="{% static 'styles-es5.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor-es2015.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor-es5.js' %}"></script>
    <script type="text/javascript" src="{% static 'main-es2015.js' %}"></script>
    <script type="text/javascript" src="{% static 'main-es5.js' %}"></script>
</body>
</html>
